:root {
  /* Light Mode Palette */
  --primary-bg: #ffffff;
  --primary-text: #000000;
  --secondary-bg: #f5f5f7;
  /* Apple-style light gray */
  --panel-bg: #ffffff;
  --panel-text: #333333;
  --border-color: #d1d1d6;
  --hover-bg: #e5e5ea;
  --icon-color: #8e8e93;

  /* Link colors */
  --link-color: #007aff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Palette */
    --primary-bg: #121212;
    --primary-text: #ffffff;
    --secondary-bg: #1c1c1e;
    /* Apple-style dark gray */
    --panel-bg: #1c1c1e;
    --panel-text: #e5e5e5;
    --border-color: #38383a;
    --hover-bg: #2c2c2e;
    --icon-color: #98989d;

    --link-color: #0a84ff;
  }
}

img {
  margin: auto;
  max-width: 1280px;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}